@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Debug */

.debug{
  *{
    border: 1px dashed;
  }

/*   .bg-sidebar{
    background-color: #9a13ec;
    min-height: 1008px;
  } */

  .bg-main{
    background-color: #e7ec13;
  }

  .bg-bottom{
    background-color: #68cd69;
  }
}


/* Commons */
:root{
  --spot-primary-dark:#000000;
  --spot-lighter:#ffff;
  --spot-light:#a3a3a3;
  --spot-light-dark:#6a6a6a;
  --spot-accent:#adff2f;
}

body{
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

ul{
  list-style: none;
}


/* utility */
.d-flex{
  display: flex;
}

/* top */


/* sidebar */
#sidebar{
  width: 227px;
  height: 100%;
  background-color: var(--spot-primary-dark);
  color:var(--spot-lighter);
  flex-direction: column;
  
  /* logo */
  .logo {
    padding: 0.5rem;
    margin: 0.5rem, 1.25rem; 
    
    img{
    min-width: 135px;
  }
  }  

  /* navbar */
  nav{
    padding: 1rem 0;
  

    ul{

      line-height: 1.5rem;
      font-weight: 600 ;
      font-size: 14px;
      

      li{
        padding: 0.5rem 1rem;
        display: flex;
        gap: 1rem;
        
      }
      
      li img{
        width: 20px;
      }
    }

  }
}

/* Playlist */

.playlist{
  padding-left: 1rem;
  line-height: 1.5rem;
  
  h2{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 800;
  }

  .create-playlist{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;

   
  }

  .your-playlist{
    line-height: 2rem;
  }



}


/* main */
main{
  width: 100%;
  height: calc(100vh -90px);
  overflow-y: auto;
}

.bottom{

  height: 90px;

}