@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Debug */

.debug{
  *{
    border: 1px dashed;
  }

  background-color: #adff2f;

}


/* Commons */
:root{
  --spot-primary-dark:#000000;
  --spot-lighter:#ffff;
  --spot-light:#a3a3a3;
  --spot-light-dark:#6a6a6a;
  --spot-accent:#adff2f;
}

body{
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


/* utility */
.d-flex{
  display: flex;
}

.container{
  padding-left: 2rem;
  padding-right: 2rem;
}

/* top */


/* sidebar */
#sidebar{
  width: 227px;
  height: 100%;
  min-height: 1008px;
  background-color: var(--spot-primary-dark);
  color:var(--spot-lighter);
  flex-direction: column;
  
  /* logo */
  .logo {
    padding: 0.5rem;
    margin: 0.5rem, 1.25rem; 
    
    img{
    min-width: 135px;
  }
  }  

  /* navbar */
  nav{
    padding: 1rem 0;
  

    ul{

      line-height: 1.5rem;
      font-weight: 600 ;
      font-size: 14px;
      

      li{
        padding: 0.5rem 1rem;
        display: flex;
        gap: 1rem;
        
      }
      
      li img{
        width: 20px;
      }
    }

  }

  /* Playlist */

  .playlist{
    padding-left: 1rem;
    line-height: 1.5rem;
    color: var(--spot-light-dark);
    flex-grow: 1;
  
   h2{
    color: var(--spot-lighter);
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 800;
   }

   .create-playlist{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;

   
   }

    .your-playlist{
    line-height: 2rem;
    }
  }  


  /* foot-sidebar */
  #foot-side{
    color: var(--spot-light-dark);
    padding-left: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;


    .install{
      padding: 1rem, 0;
      font-size: 12px;
      margin-bottom: 1rem;
      width: 90%;
      border-bottom: 1px solid var(--spot-light-dark);
    }



    figure{
      display: inline-block;
      width: 25px;
      height: 25px;
      background-color:var(--spot-light-dark);
      border-radius: 50%;
      text-align: center;
    }

    h4{
      display: inline-block;
    }

  }
  


}


/* main */
main{
  width: 100%;
  margin: 0 auto;
  height: calc(100vh -90px);
  overflow-y: auto;

  /* main header */
  .main-header{
    height: 90px;
    background-color: #0000008f;
    position: sticky;
    justify-content: end;
    align-items: center;

  

    .upgrade-button{
      width:  218px;
      color: var(--spot-lighter);
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      padding: 0.5rem;
      border: 1px solid var(--spot-lighter);
      border-radius: 20px;
    }    
  }

  /* main-nav */
  nav{
    justify-content: center;
    
    ul{
      gap: 2rem;
    }
  }

  /* recently played */

  
}

.bottom{

  height: 90px;

}