@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Debug */

.debug{
  *{
    border: 1px dashed;
  }

  .bg-sidebar{
    background-color: #9a13ec;
    min-height: 1008px;
  }

  .bg-main{
    background-color: #e7ec13;
  }

  .bg-bottom{
    background-color: #68cd69;
  }
}


/* Commons */
body{
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* utility */
.d-flex{
  display: flex;
}

/* top */



#sidebar{
  width: 227px;
  height: 100%;

  .logo {
    padding: 0.5rem;
    margin: 0.5rem, 1.25rem; 
    
    img{
    min-width: 135px;
  }
  }
    


  nav{
    padding: 1rem 0;
    color: white;

    ul{

      list-style: none; 
      line-height: 1.5rem;
      font-weight: 600 ;
      font-size: 14px;
      

      li{
        padding: 0.5rem 1rem;
        display: flex;
        gap: 1rem;
        
      }
      
      li img{
        width: 20px;
      }
    }

  }
}


main{
  width: 100%;
  height: calc(100vh -90px);
  overflow-y: auto;
}

.bottom{

  height: 90px;

}